.add-gnome-card {
	height: 100%;
	min-height: 132px;
	background: none;
	border: 6px solid white;
	border-style: dashed;
	&:hover {
		box-shadow: none;
	}
}

.add-gnome-card__plus {
	height: 38px;
	width: auto;
	margin: auto;
}
