.gnome-card-col {
	margin-bottom: 2em;
}

.gnome-card {
	text-decoration: none;
	color: #545454;
	min-width: 290px;
	max-width: 600px;
	margin-bottom: 2em;
	transition: 0.08s linear;
	user-select: none;

	&:focus,
	&:visited,
	&:link,
	&:hover,
	&:active {
		text-decoration: none;
		color: #545454;
	}
	&:hover {
		box-shadow: hsla(0, 0%, 0%, 0.05) 0px 0px 12px 0px;
		transform: scale(1.005);
	}
}

.gnome-card__body {
	// padding: 2rem;
	padding: 0;
	margin: auto;
}

.gnome-card__title {
	// font-size: 2rem;
	font-size: 1.6rem;
}

.gnome-card__date {
	color: #d8d8d8 !important;
	font-size: 0.8rem;
}

.gnome-card__status {
	color: #7a7a7a;
	font-size: 0.8rem;
}

.gnome-card-row {
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 1.2rem;
}
